body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: Arial;
}

.gameBox {
	width: 79%;
	height: 100vh;
	display: inline-block;
	vertical-align: top;

	border: solid gray 4px;
	background-color: lightgrey;

	color: white;
}

.gameBox>h1 {
	text-align: center;
	color: #3a3a3a;
}

.HUD {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
	background-color: #5F5858;

	text-align: center;
}

.assetMeter {
	display: inline-block;
	margin-right: 5%;
}

.buttonRow {
	text-align: center;
}

.actionButton {
	display: inline-block;
	margin: 2% 5%;
}

.upgradeStore {
	display: inline-block;
	height: 100vh;
	width: 20%;

	background: darkgrey;
	overflow-y; scroll;
}

.upgrade {
	width: 100%;
	background: lightgray;
	color: #3a3a3a;
	border: ridge 3px gray;

	font-size: .9em;
}